.title {
  font-size: rem(24);
  font-weight: 700;
  text-align: justify;
}

.wrapper {
  background: "#F7FAFF";
}

.imgCarousel {
  width: 432px;
}

.textCarousel{
  padding: 0 rem(30);
}

@media (max-width: 600px) {
  .imgCarousel {
    width: 100%;
  }

  .textCarousel{
    padding: 0 rem(10);
  }
}
