.title {
  font-size: rem(24);
}

.wrapper {
  background: "#F7FAFF";
}

.imgCarousel {
  width: 432px;
}

.textCarousel {
  padding: 0 rem(30);
}

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}
@media (max-width: 600px) {
  .imgCarousel {
    width: 100%;
  }

  .textCarousel {
    padding: 0 rem(10);
  }
}
