.wrapper {
  height: auto;
  position: relative;
}

.inner {
  position: relative;
  z-index: 1;
  color: var(--mantine-color-white);
}

.title {
  font-weight: 800;
  font-size: rem(64px);
  letter-spacing: rem(-1px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-align: center;

  @media (max-width: 600px) {
    font-size: rem(28px);
    text-align: left;
  }
}
