.header {
  height: rem(101px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: rem(101px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}

.burgerLink {
  display: block;
  line-height: 1;
  padding: rem(16px) rem(16px);
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;

  &:hover {
    background-color: white;
    color: #4f3b78;
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}