#svg-map path {
  fill: #966FA2;
  /* Default fill color */
  stroke: #ffffff;
  /* Default stroke color */
  transition: fill 0.2s ease;
  /* Smooth transition on hover */
}

#svg-map path:hover {
  fill: #4F3B78;
}



.hover-title {
  position: absolute;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  top: 10px;
  left: 10px;
  z-index: 10;
  pointer-events: none;
  font-weight: bold;
  color: #800080;
  font-family: inherit;
  /* Purple color for the title */
}