.wrapper {
  height: auto;
  position: relative;
}

.inner {
  position: relative;
  z-index: 1;
  width: 100%;
}

.title {
  font-weight: 800;
  font-size: rem(56px);
  letter-spacing: rem(-1px);
  text-align: left;

  @media (max-width: 600px) {
    font-size: rem(28px);
    text-align: center;
  }
}

.highlight {
  color: var(--mantine-color-primary-4);
}

.description {
  color: '#121212';
  text-align: left;
  font-size: 16px;

  @media (max-width: 600px) {
    font-size: var(--mantine-font-size-sm);
    text-align: justify;
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  display: flex;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.control {
  font-size: var(--mantine-font-size-md);

  &:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
  }

  @media (max-width: 600px) {
    &:not(:first-of-type) {
      margin-top: var(--mantine-spacing-md);
      margin-left: 0;
    }
  }
}

.secondaryControl {
  color: var(--mantine-color-white);
  background-color: rgba(255, 255, 255, 0.4);

  &:hover {
    background-color: rgba(255, 255, 255, 0.45);
  }
}

.gridItem:nth-last-child(-n+7) {
  grid-column: span 7;
  justify-self: center;
}