name: Deploy to UAT
on:
  push:
    branches:
      - uat

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install dependencies and build
        run: |
          npm ci
          npm run build
  
      - name: Install lftp
        run: |
          sudo apt-get update
          sudo apt-get install -y lftp
  
      - name: Upload .next folder to cPanel server
        env:
          FTP_HOST: ${{ secrets.SERVER_HOST }}
          FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
        run: |
          lftp -u "$FTP_USERNAME","$FTP_PASSWORD" "$FTP_HOST" <<-EOF
            mirror -R --delete --verbose /home/runner/work/MemilihTanpaBeban/MemilihTanpaBeban/.next /home/pilihan2/repositories/MemilihTanpaBebanUAT/.next
            mirror -R --delete --verbose /home/runner/work/MemilihTanpaBeban/MemilihTanpaBeban/node_modules /home/pilihan2/repositories/MemilihTanpaBebanUAT/node_modules
            bye
          EOF