name: Deploy to UAT

on:
  push:
    branches:
      - uat

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Install Dependencies
      run: |
        npm install
        npm run build

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v0.1.3
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 64000
        script: |
          cd /home/pilihan2/repositories/MemilihTanpaBebanUAT
          git fetch origin
          git reset --hard origin/uat
          git pull origin uat

          # Ensure Node.js is in the path
          export PATH="$HOME/.asdf/bin:$HOME/.asdf/shims:$PATH"

          # Limit memory and install dependencies
          export NODE_OPTIONS="--max-old-space-size=512"
          npm install --max-parallel=1

          # Build the project
          npm run build
